          <form class="w-75 ml-auto mr-auto" action="/addAula" method="POST" style="margin-top:150px">
            <!-- <div class="input-group"> -->
              <input type="text" class="form-control m-2" name="autor" id="autor" placeholder="Autor*" aria-label="autor" required>
              <input type="text" class="form-control m-2" name="data" id="data" placeholder="Data*" aria-label="data" required>
              <input type="text" class="form-control m-2" name="nome" id="nome" placeholder="Nome da aula*" aria-label="nome" required>
              <input type="text" class="form-control m-2" name="descricao" id="descricao" placeholder="Breve descrição*" aria-label="cidade" required>
              <div class="justify-content-center p-1 my-3 text-center ml-auto mr-auto">
              <textarea type="text" class="form-control m-2 quilleditor" name="conteudo" id="conteudo" placeholder="Conteúdo*" aria-label="conteudo" required></textarea>
              </div>
              <!-- <span class="input-group-btn"> -->
                <div class="text-center drop-shadow-black"><input class="btn btn-success text-center" type="submit" name="enviar" value="Cadastrar aula!"></div>
              <!-- </span> -->
            <!-- </div> -->
          </form>