          <form class="w-75 ml-auto mr-auto" action="/addAula" method="POST" style="margin-top:150px">
            <!-- <div class="input-group"> -->
              <input type="text" class="form-control m-2" name="nome" id="nome" placeholder="Nome*" aria-label="nome" required>
              <input type="text" class="form-control m-2" name="descricao" id="descricao" placeholder="Descrição*" aria-label="cidade" required>
              <input type="text" class="form-control m-2" name="conteudo" id="conteudo" placeholder="Conteúdo*" aria-label="conteudo" required>
              <!-- <span class="input-group-btn"> -->
                <div class="text-center drop-shadow-black"><input class="btn btn-success text-center" type="submit" name="enviar" value="Cadastrar aula!!"></div>
              <!-- </span> -->
            <!-- </div> -->
          </form>