          <form class="w-50 ml-auto mr-auto" action="/addCmm" method="POST">
            <!-- <div class="input-group"> -->
              <input type="text" class="form-control m-2" name="nome" id="nome" placeholder="Seu nome" aria-label="nome">
              <input type="text" class="form-control m-2" name="cidade" id="cidade" placeholder="Sua cidade" aria-label="cidade">
              <input type="text" class="form-control m-2" name="cmm" id="cmm" placeholder="Seu comentário" aria-label="cmm">
              <!-- <span class="input-group-btn"> -->
                <div class="text-center"><input class="btn btn-success text-center" type="submit" name="enviar" value="Comentar!"></div>
              <!-- </span> -->
            <!-- </div> -->
          </form>