    <footer class="container-fluid mt-5 footer-main">
      <div class="container">
      <div class="row">
        <div class="col-12 d-flex">
          <ul class="row ml-auto mr-auto list-none d-flex m-3 justify-content-center text-center white">
            <li class="my-2 col-6 col-sm-3 col-md-4"><a class=" white" href="/">Início</a></li>
            <li class="my-2 col-6 col-sm-3 col-md-4"><a class=" white" href="/sobre">O que é Aprenda Hearthstone</a></li>
            <li class="my-2 col-6 col-sm-3 col-md-4"><a class=" white" href="#">Como colaborar</a></li>
            <li class="my-2 col-6 col-sm-3 col-md-4"><a class=" white" href="/aulas">Aulas</a></li>
          </ul>
        </div>
        <div class="col-12 footer-social justify-content-center text-center m-2 border-bottom-white">
          <div class="col-12 ml-auto mr-auto text-center">
            <div class="mx-2 my-3">
              <a href="#"><span class="fa fa-facebook font-36 white"></span></a>
              <a href="#"><span class="fa fa-instagram font-36 white"></span></a>
            </div>
          </div>
        </div>
        <div class="col-12 text-center">
          <div class="mx-2">
            <small><a class="white" href="http://www.doglabcreations.com">Copyright 2017 @ DogLab Creations</a></small>
            <br /><small class="white">Este site não é associado à Blizzard</small>
          </div>
        </div>
      </div>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="/js/jquery.js"></script>
    <script src="/js/hover.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>
 
    <!-- Initialize the editor. -->
    <script>
      $(function() {
        $('textarea').froalaEditor({
        placeholderText: 'Digite aqui'
        })
      });
    </script> 
    <!-- Fim dos Scripts -->
  </body>
</html>