    <div class="container">
      <div class="row my-5">
        <div class="col-12 text-center">
          <div class="drop-shadow-black">
            <img src="/img/rankn1.png"></div>
            <p class="my-3">Inscreva-se na nossa Newsletter e seja o primeiro a saber as novidades do Aprenda Hearthstone!</p>
          
          <form class="w-75 ml-auto mr-auto" action="/addNewsletter" method="POST">
            <div class="input-group">
              <input type="text" class="form-control" name="email" id="email" placeholder="Seu email*" aria-label="Seu email*" required>
              <span class="input-group-btn">
                <input class="btn btn-success" type="submit" name="enviar" value="Quero receber!">
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>