<% include partials/header %>
    <link rel="stylesheet" href="/css/aulas.css">
    

    <!-- Banner topo -->

    <div id="top-image" class="hsbackground3 container-fluid justify-content-center align-items-center">

      <div class="bannertext text-center white align-items-center">
            <h1 class="drop-shadow-black ">Área de Aprendizado</h1>
            <p class="drop-shadow-black lead">Aprenda com os próprios jogadores</p>
      </div>
    </div>

    <!-- Fim do Banner topo -->

    <!-- Content 1 -->
<% include partials/aulaslist %>
    <!-- Fim do Content 1 -->

<% include partials/newsletterform %>
<% include partials/cmms %>

<% include partials/footer %>