<% include partials/header %>
    <link rel="stylesheet" href="/css/aulas.css">
    

    <!-- Banner topo -->

    <div id="top-image" class="hsbackground3 container-fluid justify-content-center align-items-center">

      <div class="bannertext text-center white align-items-center">
            <h1 class="drop-shadow-black ">Área de Aprendizado</h1>
            <p class="drop-shadow-black lead">Aprenda com os próprios jogadores</p>
      </div>
    </div>

    <!-- Fim do Banner topo -->

    <!-- Content 1 -->
<div class="container-fluid">
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 justify-content-center">
          <div class="text-center cards mb-3"><img class="img-fluid h-200 border-radius-5" src="/img/legend.jpg" alt=""></div>
        </div>
        <div class="col-12 my-4">
          <h3 class="w-75 ml-auto mr-auto text-center my-4 drop-shadow-black">Aulas básicas</h3>

            <div class="row">

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="m-2 p-4 aula">
                <div class="text-center mb-3"><img class="img-fluid border-radius-5" src="/img/legend.jpg" alt=""></div>
                <h4 class="text-center my-4">Controle de mesa</h4>
                <p>Mandar no que acontece na mesa é uma das principais estratégias para partidas mais interessantes</p>
                <div class="text-center"><a href="#" class="my-2 btn btn-lg btn-success">Assistir aula!</a></div>
            </div>
          </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="m-2 p-4 aula">
                <div class="text-center mb-3"><img class="img-fluid border-radius-5" src="/img/legend.jpg" alt=""></div>
                <h4 class="text-center my-4">Mecânicas de cartas</h4>
                <p>Compra de cartas, vantagem de cartas, como equilibrar as coisas para ter um deck mais consistente, que não te deixa na mão.</p>
                <div class="text-center"><a href="#" class="my-2 btn btn-lg btn-success">Assistir aula!</a></div>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="m-2 p-4 aula">
                <div class="text-center mb-3"><img class="img-fluid border-radius-5" src="/img/legend.jpg" alt=""></div>
                <h4 class="text-center my-4">Controle de mesa</h4>
                <p>Mandar no que acontece na mesa é uma das principais estratégias para partidas mais interessantes</p>
                <div class="text-center"><a href="#" class="my-2 btn btn-lg btn-success">Assistir aula!</a></div>
            </div>
          </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
              <div class="m-2 p-4 aula">
                <div class="text-center mb-3"><img class="img-fluid border-radius-5" src="/img/legend.jpg" alt=""></div>
                <h4 class="text-center my-4">Mecânicas de cartas</h4>
                <p>Compra de cartas, vantagem de cartas, como equilibrar as coisas para ter um deck mais consistente, que não te deixa na mão.</p>
                <div class="text-center"><a href="#" class="my-2 btn btn-lg btn-success">Assistir aula!</a></div>
            </div>
          </div>

          </div>

        </div>
      </div>
    </div>
</div>
    <!-- Fim do Content 1 -->

    <!-- Content 2 -->

    <div class="container">
      <div class="row my-5">
        <div class="col-12 text-center">
          <div class="">
            <img src="/img/rankn1.png">
            <p>Inscreva-se na nossa Newsletter e seja o primeiro a saber as novidades do Aprenda Hearthstone!</p>
          </div>
          <form class="w-50 ml-auto mr-auto" action="/addNewsletter" method="POST">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Seu email" aria-label="Seu email">
              <span class="input-group-btn">
                <input class="btn btn-success" type="submit" name="enviar" value="Quero receber!">
              </span>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-4 text-center">   
          
        </div>

      </div>
    </div>

    <!-- Fim do Content 2 -->


<% include partials/footer %>