<% include partials/header %>
    <link rel="stylesheet" href="/css/sobre.css">
    

    <!-- Banner topo -->

    <div class="hsbackground4 container-fluid justify-content-center align-items-center">

      <div class="bannertext text-center white align-items-center">
            <h1 class="drop-shadow-black ">Sobre nós</h1>
            <p class="drop-shadow-black lead w-75 ml-auto mr-auto">Nascemos para ajudar jogadores de Hearthstone a entenderem o básico sobre o game, para jogarem melhor e se divertirem mais!</p>
      </div>
    </div>

    <!-- Fim do Banner topo -->

    <!-- Content 1 -->
<div class="container-fluid">
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 justify-content-center">
          <div class="text-center logo"><img class="img-fluid" src="/img/hs.png" alt="Hearthstone"></div>
          <h3 class="w-75 text-center ml-auto mr-auto hearthstone">Um portal criado por jogadores apaixonados</h2>
        </div>
        <div class="col-12 justify-content-center">
          <p class="mt-5">Hearthstone é um jogo muito divertido. O número de possibilidades de decks, jogadas, combinações, além da Arena, Taverna e o modo Ranqueado fazem do jogo uma peça muito única.</p>
          <p>Mas acima de tudo, Hearthstone é um jogo de estratégia. Então, além da diversão óbvia, o game tem um lado que sequestra os apaixonados por estratégia e planejamento.</p>
          <p>Quando falamos de estratégia, só ficar tentando e replicando métodos não adianta, é necessário muito estudo e análise, para perceber as coisas por si próprio.</p>
          <hr />
          <p>Após um bom tempo jogando, apresentando o jogo para amigos e presenciando novos jogadores irem e virem, é nítido que muitos se frustam com o game por não compreender aspectos básicos da mecânica do jogo e da estratégia de vitória/competitividade. Infelizmente, ganhar jogos sem saber exatamente o que você está fazendo não é aprender a ganhar jogos.</p>
          <p>O Aprenda Hearthstone surgiu para auxiliar os jogadores novatos e experientes, pois este game que amamos é muito mais complexo do que aparenta em sua superfície.</p>
          <p>Organizamos a informação da melhor forma e entregamos para você.</p>
        </div>

      </div>
    </div>
</div>
    <!-- Fim do Content 1 -->

    <!-- Content 2 -->

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 w-75 ml-auto mr-auto hsbackground5 white my-2">
          <div class="mb-auto mt-auto drop-shadow-black">
          </div>

        </div>
      </div>
    </div>
    <!-- Fim do Content 2 -->


<% include partials/footer %>