// Rotate animation:
  @keyframes spin { /* CSS3 */
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @-moz-keyframes spin { /* Firefox */
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @-webkit-keyframes spin { /* Webkit */
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@font-face {
    font-family: Hearthstone;
    src: url(/fonts/Belwe-Medium.otf);
}
@font-face {
    font-family: Chalk;
    src: url(/fonts/Eraser-Regular.ttf);
}
.chalk{
  font-family: Chalk;
  /*background-image: url(https://testdrive-archive.azurewebsites.net/performance/chalkboard/Images/EmptyChalkboard.svg);
background-position: center center;
background-size: cover;
padding: 10%;*/
}
*{
  font-family: Hearthstone
}
.hsbackground1{
  /*background: url(https://media.giphy.com/media/Xrl6sktpCWjoQ/giphy.gif) no-repeat center center;*/
  background: url(https://media.giphy.com/media/J7uZJwevruQ7u/giphy.gif) no-repeat center center;
  /*background: url(https://media.giphy.com/media/J7uZJwevruQ7u/giphy.gif) no-repeat center center;*/
  /*background: url("https://media.giphy.com/media/fkGQK5zgtgwNi/giphy.gif") no-repeat center center;*/
  height: 600px;
  background-size: cover;
  filter: drop-shadow(#c29a56 0px 10px 13px);
}

.hsbackground3{
  background: url("/img/bgaulas.jpg") no-repeat center center;
  height: 490px;
  background-size: cover;
  filter: drop-shadow(#c29a56 0px 10px 13px);
      transition: 0.3s;

}
.hsbackground4{
  background: url("/img/bg3.jpg") no-repeat center center;
  height: 450px;
  background-size: cover;
  filter: drop-shadow(#c29a56 0px 10px 13px);
      transition: 0.3s;
}
.hsbackground5{
  background: url("/img/bg4.jpg") no-repeat center center;
  height: 400px;
  background-size: cover;
  filter: drop-shadow(#c29a56 0px 10px 13px);
      transition: 0.3s;
}
.hsbackground2{
  background: url(/img/bg2.jpg) no-repeat center center;
  background-size: cover;
  filter: drop-shadow(#c29a56 0px 10px 13px);
}
.white{
  color: white
}
.bannertext{padding-top: 8%;}

.navbar-floating{margin:4%;border-radius: 10px}
.fundoquadro{
  background: url(/img/chalkboard.jpg);

}
.cards{margin-top: -120px;}
.logo{margin-top: -200px;}
.nav-item,.search-shadow, .navbar-brand,#navbarSupportedContent > form > input,#navbarSupportedContent > form > button{filter: drop-shadow(#a1a1a1 1px 3px 5px);}
.drop-shadow-black{filter: drop-shadow(#000 1px 1px 5px);}
.full-rounded{border-radius:50%}
.sepia{filter: sepia(100%)}
.uther{width: 72%}
.navbar-light .navbar-toggler{width: 100%;}
@media (max-width: 992px){.uther{width:unset}}
@media (max-width: 420px){.bannertext {
    padding-top: 30%;
}
.cards {
    margin-top: -120px;
}}
/*.h-100px{    height: 100px;}*/
.minicurso, .aula{
    border: 2px solid #28a745;
    border-radius: 2%;
    padding: 1%;
    margin: 5px;
}
.w-170px{width: 170px}
.footer-main{background-color: #a1a1a1; padding: 10px}
.list-none{list-style:none;    padding-left: 0;}
.footer-text{font-size:12px; padding: 5px}
.opacity-0{opacity: 0;}
.font-36{font-size: 36px;}
.border-bottom-white{border-bottom:1px solid white;}
.spin-15{animation: spin 15s linear infinite;-moz-animation: spin 15s linear infinite;-webkit-animation: spin 15s linear infinite;}
.bouncein-4{animation: bounceIn 4s linear infinite;-moz-animation: bounceIn 4s linear infinite;-webkit-animation: bounceIn 4s linear infinite; transition: all 1s}
.bouncein-4:hover{filter: drop-shadow(#28a745 3px 3px 2px);}
.h-200{height: 200px;}
.border-radius-5{border-radius: 10px;}
.comment{padding: 5px; border: 2px solid #28a745; margin: 0;}