<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Aprenda Hearthstone</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <!-- NAVBAR -->

    <nav class="navbar-floating fixed-top navbar navbar-expand-lg navbar-light bg-light">


  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span> <span class="align-middle text-menu">Menu</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="navbar-brand" href="#"><img src="/img/logo.png" width="30" height="30" alt="Aprenda Hearthstone"> Aprenda Hearthstone</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item mx-2 active">
        <a class="nav-link" href="#">Início</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Aulas</a>
      </li>
      <li class="nav-item mx-2">
        <a class="nav-link" href="#">Sobre</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-2">
      <li class="nav-item">
        <a class="btn btn-success" href="#">Criar conta</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input width="170" class="w-170px form-control mr-sm-2" type="text" placeholder="Digite aqui..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar!</button>
    </form>
  </div>
</nav>

    <!-- FIM DO NAVBAR -->

    <!-- Banner topo -->

    <div class="hsbackground1 container-fluid justify-content-center align-items-center">

      <div class="bannertext text-center white align-items-center">
            <img class="img-fluid" src="/img/hs.png" alt="Hearthstone">
            <h1 class="drop-shadow-black ">Aprenda a jogar Hearthstone</h1>
            <p class="drop-shadow-black lead">Você pode até saber jogar, mas conhece mesmo todo o básico?</p>
      </div>
    </div>

    <!-- Fim do Banner topo -->

    <!-- Content 1 -->
<div class="container-fluid fundoquadro white">
    <div class="container">
      <div class="row pt-5">
        <div class="col-12 justify-content-center">
          <div class="text-center cards"><img class="img-fluid" src="/img/cards.png" width="400" alt=""></div>
          <h3 class="w-75 text-center ml-auto mr-auto hearthstone">Você sente que...</h2>
        </div>
        <div class="col-12 my-4">
          <h3 class="w-75">...às vezes você está quase ganhando, mas seu oponente vira o jogo?</h3>
          <p class="my-5 lead w-50 chalk">R: Voce precisa manter a vantagem para atingir a vitoria. Ou talvez voce nao esteja realmente quase ganhando...</p>
        </div>
        <div class="col-12 my-4">
          <h3 class="ml-auto w-75 text-right">...sempre fica sem cards em um momento do jogo e seu oponente começa a te surrar?</h3>
          <p class="my-5 ml-auto lead w-50 text-right chalk">R: Mecanicas de compra de card sao muito importantes em certos decks.</p>
        </div>
        <div class="col-12 my-4">
          <h3 class="w-75">...não consegue jogar contra certos decks e estratégias específicas?</h3>
          <p class="my-5 lead w-50 chalk">R: Saber identificar o principais elementos da estrategia do seu oponente e entender como contra-atacar se mostra crucial aqui.</p>
        </div>
        <div class="col-12 my-4">
          <h3 class="ml-auto w-75 text-right">...não sabe se faz a melhor jogada possível com suas cartas na mão?</h3>
          <p class="my-5 ml-auto lead w-50 text-right chalk">R: Isso realmente se demora a aprender. Extrair o maior valor possivel de suas cartas pode permitir jogadas que te dao uma vantagem inacreditavel.</p>
        </div>

      </div>
    </div>
</div>
    <!-- Fim do Content 1 -->

    <!-- Content 2 -->

    <div class="container">
      <div class="row my-5">
        <div class="col-lg-3 col-12 text-center">
          <div class="drop-shadow-black">
          <img class="img-fluid full-rounded sepia uther" src="/img/question.png" alt="Você agora">
          </div>
          <p class="text-muted text-center my-4">Como você se parece agora</p>
        </div>
        <div class="col-lg-9 col-12">
          <div class="ml-auto mr-auto">
          <h3 class="display-4 text-center mb-2">
            "Vish, eu tenho muito a aprender. Tá, mas o que eu faço agora?"
          </h3>
          <p class="text-center text-muted">Seu cérebro, exatamente agora</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 w-75 ml-auto mr-auto hsbackground2 white my-2">
          <div class="mb-auto mt-auto drop-shadow-black">
            <div class="text-center">
              <img class="img-fluid" src="/img/playercrown.png" alt="">
            </div>

            <h3 class=" w-75 text-center display-4 mb-5 ml-auto mr-auto">Agora relaxa!</h3>
            <p class=" w-75 lead text-center ml-auto mr-auto">Está frio aí fora. Entre, pegue uma cadeira e comece a aprender sobre Hearthstone!</p>
            <p class=" w-75 lead text-center mt-4 ml-auto mr-auto">O Aprenda Hearthstone é um portal para quem está aprendendo, já sabe jogar ou já é muito bom. Todos temos coisas a aprender sobre o jogo, e evoluindo, nos tornarmos jogadores que se divertem mais. E aí, vamos nessa?</p>
          </div>

        </div>
      </div>
    </div>
    <!-- Fim do Content 2 -->

    <!-- Content 3 -->

    <div class="container mt-5">
      <div class="row text-center justify-content-center">
        <div class="col-12 justify-content-center">
          <h3 class="w-75 text-center ml-auto mr-auto mb-4">Conheça nossos mini-cursos gratuitos de <img height="70" class="" src="/img/hs.png" alt="Hearthstone"></h2>
        </div>
        <div class="col-12 col-sm-6">
          <div class="minicurso my-4">
            <img width="200" class="img-fluid my-3 drop-shadow-black" src="/img/rank1.png" alt="">
            <h4 class="w-75 ml-auto mr-auto h-100px align-middle">Os 10 conceitos básicos que todo jogador de Hearhstone precisa dominar</h4>
            <p class="w-75 ml-auto mr-auto my-4">Você entende todo o básico mesmo? Nós duvidamos! Te desafiamos a completar estas 10 aulas e não começar a rir dos seus oponentes.</p>
            <a href="#" class="drop-shadow-black btn-lg btn btn-success m-2">Ver aulas!</a>
        </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="minicurso my-4">
            <img width="255" class="img-fluid my-3 drop-shadow-black" src="/img/crown120.png" alt="">
            <h4 class="w-75 ml-auto mr-auto h-100px align-middle">Aprenda a jogar bem na Arena</h4>
            <p class="w-75 ml-auto mr-auto my-4">Arena: tem player no Brasil que não conhece. Mas é super divertido. Esse é o curso para quem quer começar a jogar lá ou melhorar seu desempenho.</p>
            <a href="#" class="drop-shadow-black btn-lg btn btn-success m-2">Ver aulas!</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Fim do Content 3 -->

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
